<?xml version="1.0" encoding="UTF-8"?>
<web.plugin>
    <!--pc、tablet、mobile-->
    <plugin.type>pc</plugin.type>
    <!--  -->
    <target.default>page-content</target.default>
	<controllers>
	<!-- 把系统默认的控制器对应为插件体系下的控制器 -->

		<controller name="com.exedosoft.plat.ui.jquery.menu.JqueryMenuXP">com.exedosoft.plat.ui.site.menu.MainMenu</controller>
		
	</controllers>
</web.plugin>